/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.08.2016, 02:26:21
    Author     : SevenOperation
*/

.top{
    background-color: #707286;
    max-height: 62px;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: -10px
}
.navigation{
  
    background-color: black;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

.symbols{
    padding-right: 5%
}

.nav-title{
    color: white;
   
}

.nav-header{
   
    padding-top: 10px;
}

li{
   list-style: none;
   color: black;
}

